@import './base.css';

body{
  font-size: 14px;
  color: #666;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-star{
  display: flex;
  align-items: center;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3{
  margin: 20px 0 5px 0;
}
