.container[data-v-f9b015c4]{width:100%;height:500px}.box .result[data-v-f9b015c4]{display:inline-block;font-size:14px;font-weight:700;padding:5px;border-radius:5px;box-shadow:0 0 10px #0003;margin-right:10px}
