@font-face {
	font-family: "iconfont";
	/* Project id 4915379 */
	src: url('@/common/iconfont/iconfont.woff2?t=1749019396545') format('woff2'),
		url('@/common/iconfont/iconfont.woff?t=1749019396545') format('woff'),
		url('@/common/iconfont/iconfont.ttf?t=1749019396545') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
	content: "\e8e2";
}

.icon-plus:before {
	content: "\e626";
}

.icon-class_of_business:before {
	content: "\e625";
}

.icon-sales_vol:before {
	content: "\e88e";
}

.icon-haohuo2x:before {
	content: "\e603";
}

.icon-recommend:before {
	content: "\e63f";
}

.icon-go_up:before {
	content: "\e790";
}

.icon-decline:before {
	content: "\e791";
}

.icon-left:before {
	content: "\e632";
}

.icon-search:before {
	content: "\e61f";
}

.icon-hua:before {
	content: "\e68f";
}

.icon-color:before {
	content: "\e678";
}

.icon-address:before {
	content: "\e60a";
}

.icon-check:before {
	content: "\e6ce";
}

.icon-del:before {
	content: "\e8b6";
}

.icon-flower:before {
	content: "\e696";
}

.icon-lan_toggle:before {
	content: "\e643";
}

.icon-down:before {
	content: "\eca8";
}

.icon-right:before {
	content: "\eca9";
}

.icon-up:before {
	content: "\ecaa";
}

.icon-caidan:before {
	content: "\e62c";
}